@model MeetingInfo
@{
    ViewBag.Title = "Toplantı Başvuru";
    Layout = "_Layout2";
}

@* main bloğu asıl içeriğin olduğu yerdir *@
<main class="text-center">
@* <h1 class="h4">Merhaba, @ViewBag.UserName <br /> @ViewBag.Selamlama</h1>
 *@<h1 class="h4">Merhaba, @* @ViewData["UserName"] <br /> *@ @ViewData["Selamlama"]</h1>

<p>Toplantıya katılım durumunuzu bildiriniz</p>
<div class="card my-2">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Model.Location</li>
        <li class="list-group-item">@Model.Date.ToString("dd/mm/yyyy HH:mm:ss") tarihinde gerçekleşecek</li>
        <li class="list-group-item">@Model.NumberOfPeople Katılımcı </li>
    </ul>
</div>
<a class="btn btn-sm btn-outline-primary" asp-controller="Meeting" asp-action="Apply">Basvuru yap</a>
</main>    